<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.jake.fitness"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18"/>

    <application
        android:name="cn.jake.fitness.config.FitnessApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a3c4b867e58ec2c5004ece">
        </meta-data>

        <activity
            android:name="cn.jake.fitness.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/base_activity_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>